html, body {
    height: 100%;
    background-color: #f5aa6b;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

header {
    background-color: #f5aa6b;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

/*home-nappulan muotoilu*/
a.navbar-brand {
    color: black;
    font-size: 40px;
}

/*lisätty välistystä nav-elementtien väliin*/
.nav-item {
    margin: 0 15px;
}

/*vaihdettu alasvetovalikon taustaväri ja fonttikoko*/
ul.dropdown-menu {
    background-color: #f8c39b;
    font-size: 20px;
}

/*vaihdettu alasvetovalikon taustaväri, kun hiiri on itemin päällä*/
a.dropdown-item:hover {
    background-color: #f28c38;
}

h2 {
    margin: 10px;
    padding: 10px;
}

main {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-size: 20px;
    background-color: #fde2d3;
}

aside {
    display: inline-block;
    justify-items: center;
    align-content: end;
}

#content {
    min-height: 75vh;
    background-color: #fde2d3;
    flex-grow: 1;
    overflow: auto;
}

.speech-bubble {
    position: relative;
    background: #fbf8f2;
    border-radius: .4em;
    padding: 20px;
    margin: 20px;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: #fbf8f2;
    border-bottom: 0;
    margin-left: -7px;
    margin-bottom: -14px;
}

footer {
    background-color: #f5aa6b;
    min-height: 15vh;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    margin-top: auto;
}

p.footer {
    text-align: end;
}

.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.peli1 {
    display: flex;
    flex-direction: column;
    background-color: #fdf7e2;
    height: 250px;
    width: 250px;
    margin: 30px;
    border-radius: 50%;
}

.peli2 {
    display: flex;
    flex-direction: column;
    background-color: #94b4d0;
    height: 250px;
    width: 250px;
    margin: 30px;
    border-radius: 50%;
}

.peli3 {
    display: flex;
    flex-direction: column;
    background-color: #a0c4aa;
    height: 250px;
    width: 250px;
    margin: 30px;
    border-radius: 50%;
}

.peli4 {
    display: flex;
    flex-direction: column;
    background-color: #f5aa6b;
    height: 250px;
    width: 250px;
    margin: 30px;
    border-radius: 50%;
}

.peli5 {
    display: flex;
    flex-direction: column;
    background-color: #f7e5a3;
    height: 250px;
    width: 250px;
    margin: 30px;
    border-radius: 50%;
}