html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
   
}

header {
    background-color: #f5aa6b;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

a.navbar-brand {
    color: black;
    font-size: 40px;
}

.nav-item {
    margin: 0 15px;
}

ul.dropdown-menu {
    background-color: #f8c39b;
    font-size: 20px;
}

a.dropdown-item:hover {
    background-color: #f28c38;
}

* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;;
 }

#content {
    min-height: 78vh;
    background-color: #f7e5a3;
    flex-grow: 1;
    overflow: auto;
}

footer {
    background-color: #f5aa6b;
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: auto;
}
p.footer {
    text-align: end;
}

/*oma osuus*/
aside img{
    
    max-width: 100%;
    height: auto;
    display: block;    
}

.speech-bubble {
    position: relative;
    background: #fbf8f2;
    border-radius: .4em;
    padding: 5px;
    margin: 15px;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: #fbf8f2;
    border-bottom: 0;
    margin-left: -7px;
    margin-bottom: -14px;
}

#container,h2 {
    text-align: center;  
}

.image-container img {
    width: 100%;   
    height: auto; 
    object-fit: contain; 
}

#game {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: end; 
    gap: 20px; 
    flex-wrap: wrap; 
}

#countries {
    flex: 1;
    max-width: 400px; 
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center; 
}

.drop-area { 
    max-width: 500px;  
    height: 300px;  
    background-size: cover;
    background-position: center;
    margin: 0;
    flex: 1;
    margin-top: 100px; 
}

#game-over {
    display: none;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 24px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border-radius: 10px;
    text-align: center; 
}

.country {
    margin: 5px;
    padding: 10px;
    width: 500px;
    background:white;
    border: 5px solid #ddd;
    text-align: center;
    border: 2px solid #ccc; 
    border-radius: 15px; 
    cursor: move;
  }

.country:hover {
    background-color:  #2fdc77
  }
  
#image-number {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;

}
@media only screen and (max-width: 1200px) {
    #game {
        flex-direction: column; 
    }
    .tiger, .drop-area {
        max-width: 80vw;  
        max-height: 80vh; 
    }

    #countries .country {
        width: 40vw; 
    }
}

@media only screen and (max-width: 768px) {
 
#drop-area{
    min-width: 400px;  
    min-height: 300px; 
}

#countries {
  flex-direction: row;
}

.speech-bubble {
    max-width: 150px;
}
aside img {
    max-width: 200px; 
    height: 200px; 
}
}