
/*Korjaa skaalautuvuusongelmat!*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

header {
    background-color: #94b4d0;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

/*home-nappulan muotoilu*/
a.navbar-brand {
    color: black;
    font-size: 40px;
}

/*lisätty välistystä nav-elementtien väliin*/
.nav-item {
    margin: 0 15px;
}

/*vaihdettu alasvetovalikon taustaväri ja fonttikoko*/
ul.dropdown-menu {
    background-color: #6791b8;
    font-size: 20px;
}

/*vaihdettu alasvetovalikon taustaväri, kun hiiri on itemin päällä. Väri ok?*/
a.dropdown-item:hover {
    background-color: #3a6da1;
}

main {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


/* Kuvan asettelu kesken! / Testaus */
.image-container {
    display: flex;
    flex-direction: column;
    height: 300px;
}

img {
    margin-top: auto;
    width: 300px;
    max-width: 100%;
}

#content {
    height: 75vh;
    background-color: #c9d9e7;
    flex-grow: 1;
    overflow: auto;
}

footer {
    background-color: #94b4d0;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    height: 10vh;
    margin-top: auto;
}
p.footer {
    text-align: end;
}