html, body {
    height: 100%;
    background-color: #f5aa6b;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

header {
    background-color: #f5aa6b;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

/*home-nappulan muotoilu*/
a.navbar-brand {
    color: black;
    font-size: 40px;
}

/*lisätty välistystä nav-elementtien väliin*/
.nav-item {
    margin: 0 15px;
}

/*vaihdettu alasvetovalikon taustaväri ja fonttikoko*/
ul.dropdown-menu {
    background-color: #f8c39b;
    font-size: 20px;
}

/*vaihdettu alasvetovalikon taustaväri, kun hiiri on itemin päällä*/
a.dropdown-item:hover {
    background-color: #f28c38;
}

h2{
    margin-left: 10px;
}
main {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-size: 20px;
    background-color: #fde2d3;
}

aside {
    display: inline-block;
    justify-items: center;
    align-content: end;
}

aside p {
    font-size: 25px;
    padding: 10px;
    margin-bottom: 90px;
}

#content {
    min-height: 75vh;
    background-color: #fde2d3;
    flex-grow: 1;
    overflow: auto;
}

.speech-bubble {
    position: relative;
    background: #fbf8f2;
    border-radius: .4em;
    padding: 20px;
    margin: 20px;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: #fbf8f2;
    border-bottom: 0;
    margin-left: -7px;
    margin-bottom: -14px;
}

footer {
    background-color: #f5aa6b;
    min-height: 15vh;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    margin-top: auto;
}

p.footer {
    text-align: end;
}

.total {
    min-height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #fbf8f2;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
}

.total span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: black;
    text-align: center;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
}

.peli1 {
    background-color: #fdf7e2;
}

.peli2 {
    background-color: #94b4d0;
}

.peli3 {
    background-color: #a0c4aa;
}

.peli4 {
    background-color: #f5aa6b;
}

.peli5 {
    background-color: #f7e5a3;
}

.peli1, .peli2, .peli3, .peli4, .peli5 {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 230px;
    margin: 30px;
    border-radius: 50%;
    position: relative;
}

.peli1 span, .peli2 span, .peli3 span, .peli4 span, .peli5 span {
    position: absolute;
    top: -32px; /* Teksti tulee pallon yläpuolelle */
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: black;
    text-align: center;
}

.peli1 p, .peli2 p, .peli3 p, .peli4 p, .peli5 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .games {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Pienentää palluroita pienillä näytöillä */
        gap: 15px;
    }

    .peli1, .peli2, .peli3, .peli4, .peli5 {
        height: 150px;
        width: 150px;
    }
}